
@{
    ViewData["Title"] = "Home Page";
}
<h1>About</h1>
<p>this is a test for the about page of the basic web application</p>


<body>
    <form action="About" method="post">
        <p>please enter your first and last name </p>
        <input type="text" name="Name" placeholder="" required />
        <input type="text" name="SurName" placeholder="" required />
        <input type="text" name="Email" placeholder="" required />
        <button type="Submit"> submit</button>      
    </form>
</body>


