@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SHIKIYA BINTU</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div style="background-color:#f1f1f1;padding:15px;">
        <h1>Cinque Terre</h1>
        <h3>Resize the browser window</h3>
    </div>

    
